body{
    background: #000;
    color: yellow;
}

img{
    position: relative;
    left: 0px;
    top: 10px;
}

.caja{
    width: 200px;
    height: 200px;
    position: absolute;
    box-shadow: 2px 2px 10px 10px #ff0;
}

.roja{
    background: #ff7f50;
    color: #00f;
    top: 500px;
    left: 0;
}

.verde{
    background: #20a4bb;
    color: #000;
    top: 500px;
    left: 210px;
    z-index: 1;
}

.azul{
    background: #87ceeb;
    color: #00f;
    top: 500px;
    left: 420px;
    z-index: 2;
}